<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style>
	body {
  background-color: azure;
  font-family: "Roboto", sans-serif;
}
h1 {
	border: 1px darkslategray;
	margin: auto;
	padding: 10px 10px 25px 25px;
	color:darkslateblue;
	text-align: center;
}
h2 {
	border: 10px darkslategray;
	margin: auto;
	padding: 10px 10px 25px 25px;
	color:darkblue;
	text-align: center;
}
p {
	text-align: center;
	line-height: 0.9;
	font-size: 15px;
}
ol {
	color:darkred;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
	color:hotpink;
}
img {
	border: 5px darkslategray;
  border-radius: 8px;
}
footer {
	background-color: black;
	text-align: center;
	font-size: 12px;
	padding: 10px 10px 25px 25px;
	color: whitesmoke;
}
</style>
</head>
